 .aboutBody {
    background:#abd0d6;
    width: 100%;
 }
 

 .aboutCard {
    background-image: url(../../assets/images/cargarage.jpg);
    background-position: center;
    background-size: 100%;
    width: 80%;
    margin-left: 10%;
    border: 10px solid white;
}

.aboutTitle {
    padding-top: 1%;
    text-align: center;
    font-size: 75px;
    color: white;
    width: 100%;
}

.aboutTop {
    padding: 2%;
    font-size: 24px;
    color: white;
    width: 100%;
}

.aboutMiddle {
    padding: 2%;
    font-size: 24px;
    color: white;
    width: 100%;
}

.aboutBottom {
    padding: 2%;
    font-size: 24px;
    color: white;
    width: 100%;
}

.aboutText {
    background-color: black;
    opacity: 0.6;
}