.bookHeader {
    text-align: center;
    padding-top: 5%;
    font-family: 'Catamaran', sans-serif;
    font-size: 75px;
    font-weight: 600;
}

.bookForm {
    padding: 5%;
    font-family: 'Catamaran', sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.form-check {
    margin-left: 20px;
}

.btnRequest {
    background-color: #abd0d6;
    border-style: inset;
    box-shadow: -0px 15px 20px rgba(0, 0, 0, 0.6);     
}

.btnSweet {
    background-color: #abd0d6;
    border-style: unset;
    box-shadow: -0px 15px 20px rgba(0, 0, 0, 0.6);     
}
 