.jumbotron {
    background-image: url(../assets/images/home.jpg);
    height: 58vh;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100%;
    color: white;
    margin-bottom: 2%;
    width: 100%
  }

  .lead {
     font-size: 32px;
     font-weight: 350;
     margin-left: 8%;
  }

  .display-3 {
      font-size: 100px;
      font-weight: 600;
      margin-left: -4%
  }