  a {
    color: #333;
    font-weight: 500;
    font-size: 25px
  }

 
  .navbar {
    background:#abd0d6;
    width: 100%;
    overflow: auto;
  }

 
  .nav-link {
    height: 28vh;
    width: 100%;
  }

  .homeIcon {
    background-image: url(../assets/images/homeIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }

  .aboutIcon {
    background-image: url(../assets/images/aboutIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }

  .serviceIcon {
    background-image: url(../assets/images/serviceIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }
  
  .profileIcon {
    background-image: url(../assets/images/profileIcon.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40%;
  }

  